*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.cvs{
    background: #fff;
    display: none;
}
body{
    overflow: hidden;
    position: absolute;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#client{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 500px;
    background: rgba(0, 0, 255, .6);
    display: none;
}
#client.show{
    display: block;
}
.info{
    letter-spacing: .5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: rgba(100, 0, 255, .8);
    padding: 10px 15px;
    box-shadow: 0 2px 20px -2px rgba(255, 255, 255, .1) inset, 0 -2px 20px -2px rgba(255, 255, 255, .2) inset;
}
.info span{
    font-weight: normal;
}
.section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 15px 0;
}
.chatbox{
    width: 100%;
    margin-right: 16px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, .9);
    border-radius: 7px;
}
.message-container{
    height: 100%;
    padding: 10px;
    padding-bottom: 4px;
    overflow: hidden;
    position: relative;
}
.message-container ul{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}
.message-container ul li{
    word-break: break-all;
}
.button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0px;
}
#message-form{
    width: 100%;
}
#message-form input{
    border: 0;
    border-top: 1px solid rgba(0, 0, 255, .4);
    padding: 6px 8px 5px;
    outline: none;
    width: 100%;
}
input[type="color"]{
    outline: none;
    border: 0;
    background: 0;
    width: 27px;
    height: 30px;
}
input, button{
    cursor: pointer;
}
.button-container button{
    margin-bottom: 20px;
    border: 0;
    background: #fff;
    color: rgba(100, 0, 255, 1);
    padding: 8px 3px 7px;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: transform .2s linear;
}
.button-container button:hover{
    transform: scale(1.1);
}
.character-color{
    display: flex;
    align-items: center;
}
#sign{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}
#signin-form{
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1), 0 2px 15px -3px rgba(0, 0, 0, .1);
    padding: 20px 30px 18px;
    border-radius: 5px;
}
#sign label{
    margin-bottom: 8px;
    display: flex;
    width: 100%;
}
#sign input{
    width: 150px;
    outline: none;
}
#sign span{
    width: 100px;
}
#sign button{
    padding: 8px 14px;
    background: darksalmon;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
    border: 0;
    border-radius: 4px;
    margin: 0 5px
}
#sign .btn-container{
    margin-top: 15px;
    text-align: center;
}
#sign.hide{
    display: none;
}
#scroll-mess-btn{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background: #332333;
    border-radius: 50%;
    padding: 0px 6px 2px;
    display: none;
}
#scroll-mess-btn.show{
    display: block;
}