*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
#cvs{
    background: #fff;
    display: none;
}
#cvs.show{
    display: block;
}
body{
    background:#eee;
    overflow: hidden;
    position: absolute;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#client{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #7781ff;
    padding: 70px 0 100px;
    display: none;
}
#client.show{
    display: flex;
}
.info{
    letter-spacing: .5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background: darkslategray;
    padding: 10px 15px;
    min-width: 150px;
    text-align: center;
    font-size: 15px;
}
.info span{
    font-weight: normal;
}
.bottom{
    width: 100%;
    position: absolute;
    top: 100%;
    background:darkslategray;
    justify-content: space-between;
    display: none;
}
.bottom.show{
    display: flex;
}
.chatbox{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.message-container{
    height: 100%;
    padding: 10px;
    padding-bottom: 4px;
    overflow: hidden;
    position: relative;
    background: #ededed;
}
.message-container ul{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}
.message-container ul li{
    word-break: break-all;
}
#message-form{
    width: 100%;
}
#message-form input{
    border: 0;
    border-top: 1px solid rgba(0, 0, 255, .4);
    padding: 6px 8px 5px;
    outline: none;
    width: 100%;
}
input[type="color"]{
    outline: none;
    border: 0;
    background: 0;
    width: 27px;
    height: 30px;
}
input, button{
    cursor: pointer;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    max-width: 60px;
}
.button-container button{
    margin: 0 15px;
    border: 0;
    background: #fff;
    color: rgba(100, 0, 230, 1);
    padding: 8px 3px 6px;
    border-radius: 5px;
    min-width: 55px;
    min-height: 50px;
    font-size: 14px;
    letter-spacing: 1px;
}
.character-color{
    display: flex;
    align-items: center;
}
#sign{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    /* display: none; */
}
#signin-form{
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1), 0 2px 15px -3px rgba(0, 0, 0, .1);
    padding: 20px 30px 18px;
    border-radius: 5px;
    background: #fff;
}
#sign label{
    margin-bottom: 8px;
    display: flex;
    width: 100%;
}
#sign input{
    width: 150px;
    outline: none;
}
#sign span{
    width: 100px;
}
#sign button{
    padding: 8px 14px;
    background: darksalmon;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
    border: 0;
    border-radius: 4px;
    margin: 0 5px
}
#sign .btn-container{
    margin-top: 15px;
    text-align: center;
}
#sign.hide{
    display: none;
}
#scroll-mess-btn{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background: #332333;
    border-radius: 50%;
    padding: 0px 6px 2px;
    display: none;
}
#scroll-mess-btn.show{
    display: block;
}
.team{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: #fff;
}
.team li{
    position: relative;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 10px;
}
.team li:first-child:before{
    content: "";
    display: block;
    border: 8px solid transparent;
    border-top-color: #a80;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.team img{
    width: 35px;
    max-height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.team p{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
}
#join-form button{
    border: 0;
    background: #fff;
    color: rgba(100, 0, 230, 1);
    font-size: 14px;
    padding: 3px 4px;
    letter-spacing: 1px;
    height: 100%;
}
#join-form input{
    outline: none;
    border: 0;
    height: 100%;
    padding: 0 4px;
    width: 100px;
    margin-right: 5px;
    color: rgba(100, 0, 230, 1);
}
#join-form{
    display: flex;
    align-items: center;
    margin-top: -130px;
    font-weight: normal;
    font-size: 14px;
}
#out-room-btn{
    border: 0;
    background: #fff;
    color: rgba(100, 0, 230, 1);
    font-size: 14px;
    padding: 7px 4px;
    letter-spacing: 1px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}
#out-room-btn.show{
    display: block;
}
.GAME{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}